<mat-toolbar color="primary">  
    <mat-toolbar-row>
        <button mat-raised-button color="primary" routerLink="/">Main</button>
        <button style="margin-left: 20px;" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button style="margin-left: 20px;" mat-raised-button color="primary" routerLink="/table">Table</button>

      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  