
.container {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #c3ab91;
    background-color: #66fffc;
    padding: 20px;
    border-radius: 5px;
    max-width: 200px;  /* Ограничиваем ширину формы */
    margin: 0 auto;
  }
  
  form > * {
    margin: 5px auto;
  }

  form input {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 10px 20px
  }
  
  h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 70%;  /* Устанавливаем ширину полей */
    padding: 5px;
    border: 1px solid #fedaff;
    background-color: #fedaff;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #00ff99;
    border: 1px solid #00ff9d;;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
